<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for volunteering, <%= @volunteer.name %></h1>
    <p>The relevant team lead will be in contact soon.</p>
  </body>
</html>
