<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @volunteer.name %>,</p>

    <p>Thank you for volunteering for London Decompression 2018 - the event that really is what you make it!</p>

    <p>We've received your details into the system, and have forwarded on to the relevant team leads who will get in touch with you. They may not get back to you straight away, but rest assured, you will be contacted! Please also remember to check your junk mail, just in case the gremlins are causing mischief!</p>

    <p>Sharkles, James and Kay,<br />
    Volunteers Team - London Decom 2018</p>
  </body>
</html>
